<h3>Are you sure you want to downgrade your account to Standard?</h3>
<p>All of your private wikis will become public. If you change your mind later, you will need to pay another $15 to upgrade back to Premium.</p>
<%= button_to "Downgrade", downgrades_path, method: :create, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to downgrade?'} %>